{
  "tabWidth": 2,
  
  "useTabs": true,
  
  "semi": false,
  
  "singleQuote": true,
 
  "trailingCooma": "es5",
  
  "bracketSpacing": true,

  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "printWidth": 150
}